$dark-primary-color: #689F38;
$default-primary-color: #8BC34A;
$light-primary-color: #DCEDC8;
$text-primary-color: #212121;
$accent-color: #CDDC39;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$divider-color: #BDBDBD;

$mobile-small: 320px;
$mobile-med: 375px;
$mobile-large: 425px;
$nonmobile: $mobile-large + 1px;
$tablet: 768px;
