@import 'splash';
@import 'variables';
@import 'animations';
@import 'bio';
@import 'project';
@import 'contact';
@import 'footer';

.shadow {
    // adapted from w3 schools
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.21),
    0 6px 20px 0 rgba(0, 0, 0, 0.2),
    0 8px 32px 0 rgba(0, 0, 0, 0.19);
}

.tinymargin-left {
    margin-left: 5px;
}

#root {
    font-family: 'Raleway', sans-serif;    
    a {
        border-bottom: dotted 1px;
        text-decoration: none;
        color: inherit;
    }
    
    a:hover {
        border-bottom: none;
    }

    a.icon {
        border: none;
    }

    .mainpage-wrapper {
        background-image: -moz-linear-gradient(top, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("banner.jpg");
        background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("banner.jpg");
        background-image: -ms-linear-gradient(top, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("banner.jpg");
        background-image: linear-gradient(top, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("banner.jpg");
        background-attachment: fixed;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 0;
    }

    .nopadding {
        padding: 0;
    }

    .col-centered {
        float: none;
        margin: 0 auto;
    }

    .link-cursor:hover {
        cursor: pointer;
    }
}

::-webkit-scrollbar {
    width: 10px;
}
 
::-webkit-scrollbar-track-piece {
    background: rgba(0, 0, 0, 0.6);
}

::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.6); 
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.8);
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255, 255, 255, 0.8); 
}


